.heading {
  text-align: center;
  background-color: rgb(192, 217, 221);
  margin: 0;
  padding: 20px;
  color: #333333;
  margin-bottom: 10px;
}

.heading h2 {
  font-size: 1.8em;
  padding-bottom: 10px;
}

.heading p {
  line-height: 2em;
}

input {
  border-radius: 10px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

input {
  padding: 15px;
}

.message {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.search img {
  margin: 15px;
}

.box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.box { 
  -webkit-box-flex: 1;
  -ms-flex: 1 1 250;
  flex: 1 1 250;
  background: #eee;
  margin: 20px;
  -webkit-box-shadow: 5px 5px 5px;
  box-shadow: 5px 5px 5px;
}

.tags {
  width: 200px;
  min-height: 40px;
  overflow-wrap: break-word;
}

.box img {
  margin: 20px;
  border: 2px solid rgb(30, 31, 32);
  width: 250px;
  height: 250px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 1s, height 1s;
  /* Safari */
  -o-transition: width 1s, height 1s;
  transition: width 1s, height 1s;
}

.box img:hover {
  width: 270px;
  height: 270px;
  -webkit-transition: 5;
  -o-transition: 5;
  transition: 5;
}

.img-data {
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}
