.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.box {
  background: #eee;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 150px;
  flex: 1 0 150px;
  margin: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 1.8em;
}

.box h3 {
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.box p {
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5em;
}
