<div class="box-container">
  <div class="box">
    <h3>Check email addresses using MAILBOXLAYER API</h3>
    <p>Validates and thoroughly checks actual existence of email addresses using SMTP and MX-Records right at the point of entry
      into your system. The API also checks whether the email addresses are disposable or free and provides quality of each
      eamil address. To integrate MAILBOXLAYER API into your application visit
      <a href="https://mailboxlayer.com/" target="_blank">MAILBOXLAYER</a>
    </p>
    <div class="search" class="form-group">
      <input class="form-control" class="search" [(ngModel)]="email" placeholder="Check Email" (keyup.enter)="checkEmail(email)"
      />
      <button class="btn btn-primary" (click)="checkEmail(email)">Search</button>
    </div>
    <div class="message">
      <p *ngIf="messageClass">{{ message }}</p>
      <p *ngIf="loadingResults">Fetching Results...</p>
    </div>
    <table *ngIf="results" class="table table-bordered table-stripped table-hover table-condensed">
      <thead>
        <tr class="info">
          <th colspan="2">Results</th>
        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="{'success': results.format_valid, 'danger': !results.format_valid}">
          <td>Validity</td>
          <td>
            <span *ngIf="results.format_valid; else NotValid">Valid</span>
            <ng-template #NotValid>Not Valid</ng-template>
          </td>
        </tr>
        <tr *ngIf="results.format_valid">
          <td>Disposable</td>
          <td>
            <span *ngIf="results.disposable && results.format_valid; else NotDisposable">Yes</span>
            <ng-template #NotDisposable>No</ng-template>
          </td>
        </tr>
        <tr *ngIf="results.format_valid">
          <td>SMTP Check</td>
          <td>
            <span *ngIf="results.smtp_check; else NotSMTP">Passed</span>
            <ng-template #NotSMTP>Failed</ng-template>
          </td>
        </tr>
        <tr *ngIf="results.format_valid">
          <td>MX-Records Check</td>
          <td>
            <span *ngIf="results.mx_found; else NotMX">Passed</span>
            <ng-template #NotMX>Failed</ng-template>
          </td>
        </tr>
        <tr *ngIf="results.score && results.format_valid">
          <td>Quality and Deliverability Score</td>
          <td>
            <span>{{ results.score }} / 1</span>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="box">
    <h3>Phone Number Validation using NUM VERIFY API</h3>
    <p>Advanced phone number validation to get country, location-lookup, carrier, line-type and validation details. Check fraud
      by validating phone numbers at the point of entry into your system. Validate international phone numbers for 232 countries
      using their unique international dial codes. To check the functionality and integrate NUMVERIFY API into your application visit
      <a href="https://numverify.com/" target="_blank">NUMVERIFY</a>( Note: The free version provides API over http protocol and the paid version provides API over https protocol. )
    </p>
  </div>
  <div class="box">
    <h3>Language Detection using Language Layer API</h3>
    <p>Languagelayer API efficiently matchs text of any length to its corresponding language, cross-referencing single words,
      expressions and grammatical constructions, as well as taking into account any existing accents, dialects and other
      linguistic deviations. Capable of processing over 170 different languages and accents worldwide. To check the functionality and integrate Language
      Layer API into your application visit
      <a href="https://languagelayer.com/" target="_blank">LANGUAGELAYER</a>( Note: The free version provides API over http protocol and the paid version provides API over https
      protocol. )
    </p>
  </div>
</div>
