.heading {
  text-align: center;
  background-color: rgb(192, 217, 221);
  margin: 0;
  padding: 20px;
  color: #333333;
  margin-bottom: 10px;
}

.heading h2 {
  font-size: 1.8em;
  padding-bottom: 10px;
}

.heading p {
  line-height: 1.6em;
}

input {
  border-radius: 10px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 15px;
}

input {
  padding: 15px;
}

.box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 500px;
  flex: 1 1 500px;
  background: #eee;
  margin: 20px;
  -webkit-box-shadow: 5px 5px 5px;
  box-shadow: 5px 5px 5px;
  text-align: center;
}

.name {
  padding: 15px;
  background: rgb(177, 212, 231);
  color: white;
  text-align: center;
}

.link {
  padding: 15px;
}

.message {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
